* {
  box-sizing: border-box;
}
  body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #2c3e50;
    background: #2c3e50;
  }
  .card{
    display: flex;
    flex-direction: column;
    min-height: 500px;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
    background: #fff;
  }
  button:last-of-type{
    margin-top: auto;
  }
  hr {
    margin: 1rem 0;
  }
  ol,
  p,
  ul {
    line-height: 1.7;
  }
  
  h1 {
    font-weight: 500;
    line-height: 1.45;
    font-size: 2.2rem;
    font-weight: 600;
  }
  
  .btn-add {
    color:#11cdef;
    position: relative;
    place-content: center;
    place-items: center;
    width: fit-content;
    border-radius: 99px;
    letter-spacing: 0.05em;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 10px;
    white-space: nowrap;
    font-weight: 700;
    outline: none;
    background: #fff;
    transition: all 0.22s;
    border: 1px solid #11cdef;
    padding: 0.5rem 1.5rem;
  }
  
  .btn-add:hover {
    cursor: pointer;
    opacity: 0.5;
  }
  
  .btn-block{
    display: flex;
    flex-direction: row;
  }
  .btn-delete {
    color: #11cdef;
    width: fit-content;
    letter-spacing: 0.05em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 7px;
    border: 0;
    border-radius: 15px;
    background: transparent;
    cursor: pointer;
    transition: all 0.22s;
    display: flex;
    align-items: center;
    outline: none;
  }
  .btn-delete:hover, .btn-edit:hover{
    background-color: rgba(211, 209, 209, 0.75);
  }
  .btn-edit {
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 7px;
    border: 0;
    border-radius: 15px;
    background: transparent;
    cursor: pointer;
    transition: all 0.22s;
  }
  .miniicon-delete{
    width: 30px;
    height: 30px;
  }
  .miniicon-edit{
    color: #11cdef;
    width: 30px;
    height: 30px;
  }
  .container {
    margin: 0 auto;
    max-width: 1000px;
  }
  
  .task-input {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .task-input input {
    margin: 0;
    outline: none;
    border: none;
    border-bottom: 2px solid #11cdef;
    width: 350px;
    color: #2c3e50;
    padding: 8px 5px;
    border-radius: 3px;
    font-size: 1rem;
    margin-right: 20px;
  }
  
  .task-input input:active,
  .task-input input:focus {
    transition: border 0.1s;
    border-bottom: 2px solid #0ca1bb;
  }

  .task-block{
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
  }
  
  .title-block{
    overflow: hidden;
    margin-left: 5px;
    width: 40%;
  }

  .description-block{
    overflow: hidden;
    width: 51%;
    margin-left: 22px
  }

  .title {
    word-break: break-all;
  }
  
  .description {
    word-break: break-all;
  }

  @media screen and (max-width:900px){
    .container{
      width: 100%;
      height: 100%;
    }
    .card{
      width: 100%;
      max-height: fit-content;
    }
    .task-input{
      flex-direction: column;
    }
    .task-input input {
      width: 100%;
    }
    .btn-add-container{
      margin-top: 10px;
    }
    .task-block{
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .title-block{
      margin-left: 0px;
      width: 100%;
    }
    .description-block{
      width: 100%;
      padding-left: 0px;
    }
    button:last-of-type{
      margin-top: auto;
    }
  }